body{
--text: #000000;
--background: #eeeae7;
--primary: #e6bd9b;
--secondary: #cadaf1;
--accent: #70716f;
background-image: url(istockphoto-1290524888-612x612.jpg);
background-size: 200px;

}
p{
    size: 20px;

}
